==
<div class="lt-row row">
  <div class="lt-col col s12">
    <h2 class="lt-title center">My current experiments</h2>
    <p class="center">
        I like trying out new things, getting familiar with new technologies and programming methods, just to sate my curiosity.<BR/>
        Below is a small listing of technologies where i'm experimenting with on and off, trying to learn them or just exploring them to see what their potential are.
    </p>
  </div>
</div>

<div class="lt-vertical-spacer"></div>

<div class="lt-row row">
  <div class="lt-col col l3 m6 s12">
    <div class="lt-card card z-depth-0">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{ 'assets/img/pages/home/bottom/img-01.jpg'|theme }}">
      </div>
      <div class="card-content">
        <span class="lt-card-title card-title activator grey-text text-darken-4">October CMS</span>
        <p class="lt-card-subtitle">CMS and Framework</p>
        <p class="lt-card-social-buttons">
          <a href="https://www.octobercms.com"><i class="lt-card-social-button blue-text text-darken-4 fa fa-link"></i></a>
          <a href="https://stackoverflow.com/questions/tagged/octobercms"><i class="lt-card-social-button orange-text fa fa-stack-overflow"></i></a>
          <a href="https://github.com/octobercms/october"><i class="lt-card-social-button black-text fa fa-github"></i></a>
        </p>
      </div>
      <div class="card-reveal">
        <span class="lt-card-title card-title grey-text text-darken-4">October CMS<i class="material-icons right">close</i></span>
        <p>
            October CMS is a Content Management System built upon Laravel. 
            It builds upon all the features Laravel and Symphony provide to you as as developer and it gives you a really developer friendly way to create interactive backends and
            easy to extend and influence front ends. It's my favorite CMS by far because of it's extensibility and flexibility and reliability. <BR/>
            Every now and then I extend one of my plugins or commit something to the core when I find something that could use fixing.
        </p>
      </div>
    </div>
  </div>
  <div class="col l3 m6 s12">
    <div class="lt-card card z-depth-0">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{ 'assets/img/pages/home/bottom/img-02.jpg'|theme }}">
      </div>
      <div class="card-content">
        <span class="lt-card-title card-title activator grey-text text-darken-4">Deep Learning for Java</span>
        <p class="lt-card-subtitle">DL4J</p>
        <p class="lt-card-social-buttons">
          <a href="https://deeplearning4j.org"><i class="lt-card-social-button blue-text text-darken-4 fa fa-link"></i></a>
          <a href="https://stackoverflow.com/questions/tagged/deeplearning4j"><i class="lt-card-social-button orange-text fa fa-stack-overflow"></i></a>
          <a href="https://github.com/deeplearning4j"><i class="lt-card-social-button black-text fa fa-github"></i></a>
        </p>
      </div>
      <div class="card-reveal">
        <span class="lt-card-title card-title grey-text text-darken-4">DL4J<i class="material-icons right">close</i></span>
        <p>
            AI is the new hot kid in town, and i'm trying to see what it does and what it's potentials are for me. <BR/>
            Learning how to use it though isn't really straightforward and it comes with a lot of info and preparation to do.<BR/>
            But it's interesting none the less, just very time consuming in preparation if you want to try something not defined in the same datasets the tutorials provide.<BR/>
            I'm taking this one slowly, coming back to it every now and then.
        </p>
      </div>
    </div>
  </div>
  <div class="col l3 m6 s12">
    <div class="lt-card card z-depth-0">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{ 'assets/img/pages/home/bottom/img-03.jpg'|theme }}">
      </div>
      <div class="card-content">
        <span class="lt-card-title card-title activator grey-text text-darken-4">Writing</span>
        <p class="lt-card-subtitle">When Hell Freezes Over</p>
        <p class="lt-card-social-buttons">
          <a href="https://www.royalroad.com/fiction/22832/when-hell-freezes-over"><i class="lt-card-social-button blue-text text-darken-4 fa fa-book"></i></a>
        </p>
      </div>
      <div class="card-reveal">
        <span class="lt-card-title card-title grey-text text-darken-4">Writing<i class="material-icons right">close</i></span>
        <p>
            I've never really written a book before and this is my first attempt at writing one. <BR/>
            The process of putting a thought on paper, watching the story unfold and then building a world on that is an interesting process to watch and feel unfolding.<BR/>
            I don't know if I'll ever be able to finish this, but it's fun to be able to come back to it and publish a new chapter every now and then.
        </p>
      </div>
    </div>
  </div>
  <div class="col l3 m6 s12">
    <div class="lt-card card z-depth-0">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{{ 'assets/img/pages/home/bottom/img-04.jpg'|theme }}">
      </div>
      <div class="card-content">
        <span class="lt-card-title card-title activator grey-text text-darken-4">Unity</span>
        <p class="lt-card-subtitle">Game Programming</p>
        <p class="lt-card-social-buttons">
          <a href="https://unity.com/"><i class="lt-card-social-button blue-text text-darken-4 fa fa-link"></i></a>
          <a href="https://stackoverflow.com/questions/tagged/unity3d"><i class="lt-card-social-button orange-text fa fa-stack-overflow"></i></a>
        </p>
      </div>
      <div class="card-reveal">
        <span class="lt-card-title card-title grey-text text-darken-4">Unity<i class="material-icons right">close</i></span>
        <p>
            With my minecraft modding with Forge I had my first taste at influencing a game and 3d rendering methods and what all goes into making new stuff work.<BR/>
            Unity is my attempt at learning a bit how C# works and possibly, with a lot of effort, make a mediocre horror game.<BR/>
            For me the joy is in the exploration, not in the delivered end result, and boy, is there a lot to explore in Unity when you are totally new to the field.
        </p>
      </div>
    </div>
  </div>
</div>