==
<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">Tschallacka's projects</h2>
      <p class="flow-text">
          I have a lot of projects and things I get involved with for hobbies or professionally.<BR/>
          Some things I'm still working on, other things are "on hold" or simply abandoned. 
          Below is a small overview of projects I'm working on and not abandoned.
      </p>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
    <div class="lt-col col m4 s12">
      <a href="https://www.royalroad.com/fiction/22832/when-hell-freezes-over">
          <i class="large pe-7s-notebook primary-color-text"></i>
      </a>
      
      <h5>
          <a href="https://www.royalroad.com/fiction/22832/when-hell-freezes-over">
              When Hell Freezes Over
          </a>
      </h5>
      <p>A book I'm trying to write when I feel inspired. It's about this world in where magic creatures return.</p>
    </div>
    <div class="lt-col col m4 s12">
      <a href="https://minecraft.curseforge.com/projects/magic-cookies">
          <i class="large pe-7s-magic-wand primary-color-text"></i>
      </a>
      <h5>
          <a href="https://minecraft.curseforge.com/projects/magic-cookies">
              Magic Cookies
          </a>
      </h5>
      <p>A Minecraft Mod for version 1.7 and 1.8. Currently on hiatus because rewriting it for the newer versions is a royal pain, and it has several unique features that are hard to translate and require extensive refactoring.</p>
    </div>
    <div class="lt-col col m4 s12">
      <a href="https://github.com/tschallacka/wordpress-composer-plugin-builder">
          <i class="large pe-7s-plugin primary-color-text"></i>
      </a>
      <h5>
          <a href="https://github.com/tschallacka/wordpress-composer-plugin-builder">
              Wordpress Composer Plugin Builder
          </a>
      </h5>
      <p>I got tired of having to rename classes to prevent conflicts in wordpress because wordpress support for composer is non optimal especially when different plugins require different versions, so I made this.</p>
    </div>
  </div>

  <div class="lt-row row">
    <div class="lt-col col m4 s12">
      <a href="https://octobercms.com/plugin/tschallacka-formtools">
          <i class="large pe-7s-leaf primary-color-text"></i>
      </a>
      <h5>
          <a href="https://octobercms.com/plugin/tschallacka-formtools">
              Tschallacka's Formtools
          </a>
      </h5>
      <p>
          An OctoberCMS plugin to add a couple of extra form elements to the backend forms for OctoberCMS.<BR/>
          <a href="https://github.com/tschallacka/formtools">Github <i class="fa fa-github"></i></a>
      </p>
    </div>
    <div class="lt-col col m4 s12">
      <a href="https://octobercms.com/plugin/tschallacka-artisan">
          <i class="large pe-7s-leaf primary-color-text"></i>
      </a>
      <h5>
          <a href="https://octobercms.com/plugin/tschallacka-artisan">
              Artisan Tools
          </a>
      </h5>
      <p>
          During development of an OctoberCMS plugin I often just wish to check out a little change, 
          without dropping all the data I have already entered in a plugin for testing purposes, or write a seeder for it.<BR/>
          It also helps with rolling back to a previous version of a plugin when something doesn't work, provided the plugin has a proper down() function
          <BR/>
          <a href="https://github.com/tschallacka/octobercms-artisan-helpers">Github <i class="fa fa-github"></i></a>
    </p>
    </div>
    <div class="lt-col col m4 s12"> 
      <i class="large pe-7s-joy primary-color-text"></i>
      <h5> 
          Sneakers
      </h5>
      <p>A little horror game I'm programming to learn my way around Unity. Currently still in the learning Unity phase without something to show.</p>
    </div>
  </div>

  <div class="lt-row row">
    <div class="lt-col col m4 s12">
      <a href="https://github.com/tschallacka/october-foundation">
          <i class="large pe-7s-leaf primary-color-text"></i>
      </a>
      <h5>
          <a href="https://github.com/tschallacka/october-foundation">
              October Foundation
          </a>
      </h5>
      <p>
          My own JavaScript implementation to make easy JavaScript controlled elements in an OctoberCMS powered website, 
          which removes the repetitive effort of having to name things and registering and deregistering handlers and unsetting of variables.
      </p>
    </div>
    <div class="lt-col col m4 s12">
      <a href="https://github.com/tschallacka/jquery-template-support">
          <i class="large pe-7s-copy-file primary-color-text"></i>
      </a>
      <h5>
          <a href="https://github.com/tschallacka/jquery-template-support">
              jQuery Template Support
          </a>
      </h5>
      <p>A simple utility to make usage of templates easy with jQuery.</p>
    </div>
    <div class="lt-col col m4 s12">
      <a href="https://github.com/tschallacka/php-game-random">
          <i class="large pe-7s-joy primary-color-text"></i>
      </a>
      <h5>
          <a href="https://github.com/tschallacka/php-game-random">
              PHP Game Random
          </a>
      </h5>
      <p>I needed a random number generator that would provide predictable random numbers based upon a seed. Since I couldn't find a usuable library I wrote my own.</p>
    </div>
  </div>
</div>