[genericForm contactForm]
messages_success = "Your form was successfully submitted"
messages_errors = "There were errors with your submission"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==
<div class="lt-row row">
  <div class="lt-col col s12">
    <h2 class="lt-title">What I Do</h2>
    <p class="flow-text">I'm a programmer for hobby purposes, a writer for hobby and a lot of things I do for fun. <BR/>
    You can contact me about one of my projects or whatever reason you will.</p>
    <p>Complete the form below to send me an email or use one of the other contact options.</p>
  </div>
</div>

<div class="lt-vertical-spacer"></div>