.panel {
    width: 100%;
    border: 1px solid color('orange','darken-1');
    .panel-heading {
        background-color: color('orange','darken-2');
        display: inline-block; 
        width: 100%;
        color: color('shades', 'white');
        padding: 10px;
        a {
            color: color('shades', 'white');
            &:visited {
                color: color('grey', 'lighter-2');
            }
        }
        
    }
}
.label {
    padding: 3px 8px;
    font-weight: 800;
    display: inline-block;
    margin-left: 5px;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.35);
}

.label-default {
    background-color: color('orange', 'darken-4');
}

