[genericForm subscribeNewsletter]
messages_success = "Your form was successfully submitted"
messages_errors = "There were errors with your submission"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==
<div class="lt-row row">
  <div class="lt-col col m5 s12">
    <div class="flow-text">Subscribe to the newsletter to stay up to date with new developments.</div>
  </div>
  <div class="lt-col col m7 s12">
    <!-- Begin MailChimp Signup Form -->
    {% component 'subscribeNewsletter'%}
    <!--End mc_embed_signup-->
  </div>
</div>