==
<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">
          Who is Tschallacka
      </h2>
      <p class="flow-text text-justify">
          From a young age I have come in intimate contact with computers. The first computer was an amiga 500, with my father
          encouraging me exploring options and possibilities.<BR/>
          On the amiga 500 we had a gamefreak and it was interesting to see how you could manipulate gameplay by modifying
          some values in memory.<BR/>
          When windows 95 made its entrance we got a windows 95 machine, where I had all kinds of other things to learn and explore
          like installing drivers, finding the correct drivers, or seeing which driver would fit the card we had, after the 
          umpteenth time reinstalling windows 95. I was young, but re-installing windows 95 was commonplace.
      </p>
      <p class="flow-text text-justify">
          When we got windows 98 we also had a dual boot with linux and I learned some new skills like programmming little
          bash scripts, compiling kernels, looking at source code of programs and reading a lot of man pages to figure out
          how to accomplish a thing I wanted to do(Mainly getting windows game to run under wine).
      </p>
      <p class="flow-text text-justify">
          In the summer of '99 I started to become more interested in the programs that made the computers run and my father
          bought me a couple of books on programming and I started reading and experimenting with it. The hardest part was
          understanding how variables worked. This was in the time before you could go to the internet to answer any question
          because google didn't exist yet, and I didn't know where to look. I remeber vividly tossing the Java step by step book
          frustrated in a corner because it was that little understanding that hindered me from understanding the rest.
          It lay there for 4-6 months until suddenly, when I had all but forgotten about it it clicked in my head and I understood
          how variables worked. I got the book up and started reading, and suddenly I could understand how it worked, how it 
          translated and a world opened for me.
      </p>
      <p class="flow-text text-justify">
          The year that followed I learned, Java, Perl, HTML, JavaScript, C++, Visual Basic, PHP and possibly a few other
          programming languages I have forgotten about. It was the basis for my understanding the digital world.
          A couple of projects I remember making are a forum, a remake of pokemon in javascript with map creator, a room
          walk through like you happen to see on a lot of house buying websites, a direct x 7 game in C++, a book record
          keeper in java to keep track of the books I had.
      </p>
      <p class="flow-text text-justify">
          From there I kept doing a couple of hobby projects off and on, started several relatively successful fora and 
          stopped them when the trolls found them and turned the entire place toxic and stressful, had some websites
          for fun where I would gather jokes, that site had a lot of CSS things in it I had experimented with, another was
          to gather and display poems. I discontinued them at some point because I didn't wish to pay for the server 
          costs anymore for sites that I rarely used anymore and didn't have that many users/visitors.
      </p>
      <p class="flow-text text-justify">      
          Then at one point I started my own business and was finally able to use my programming skills in a way to earn
          money with them. For a couple of years I was able to sustain my family with my company but then the recession
          hit and it became harder to get jobs in the region I was(imagine middle of nowhere with no proper connections.
          It would take an hour really to get to anywhere of importance).<BR/>
          I was able to get a job at a company as a programmer and there my skills deepend by having more contact with 
          other programmers and learning about other possibilities and how to cooperate with them, take the lead in some
          aspects, and follow the lead in others.<BR/>
          After that job I went on to another job where even more responsibility was put on my shoulder by transforming
          a static html site that was updated by frontpage into a dynamic responsive website, without a team to fall back on.
          This was a pretty challenging thing because I had to combine a lot of varied items into one coherent thing.
      </p>
      <p class="flow-text text-justify">
          During these jobs I also started coding a Minecraft Mod, Magic Cookies and had great fun exploring how to expand
          minecraft functionality with my ideas. Basically the entire mod is a test bed of me trying to see what is possible
          within Minecraft code. I had great fun figuring out how large structures are rendered like nether temples and recreated
          my own with my dark temple that spawns in the nether, the same way a nether structure does, without having to rely
          on chunks being loaded like normal spawning of buildings do.<BR/>
          Minecraft modding is all in all a facinating thing to do, only very time consuming when you also have a job during the day.
          That generated building for example took me three months to figure out how to do.
      </p>
      <p class="flow-text text-justify">
          Recently I've started to write a book that's been rattling through my skull for the last few years. I've never written a book
          before and I find the process of getting the story out of my fingers at the one side exhausting, at the other side very rewarding.<BR/>
          Sadly real life also imposes time constraints where one has to do other things than write a book, but slowly I hope to expand
          the world i've written down so far.
      </p>
      <p class="flow-text text-justify">      
          All in all rewarding and a positive experience so far and I'm curious what the remaing years of my life have to offer.  
      </p>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

<div class="lt-vertical-spacer"></div>
<div class="lt-vertical-spacer"></div>

<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">Magic Cookies</h2>
      <p class="flow-text">A small impression of Magic Cookies.</p>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
    <div class="lt-col col m6 s12">
      <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/about/mainpage/img-01.png'|theme }}">
    </div>
    <div class="lt-col col m6 s12">
      <img class="responsive-img" alt="image" src="{{ 'assets/img/pages/about/mainpage/img-02.png'|theme }}">
    </div>
  </div>

  <div class="hide-on-small-only" style="height: 20px;"></div>
   <a href="#lt-video-materializecss" class="btn-floating btn-large z-depth-0 lt-modal-trigger modal-trigger">
    <i class="large material-icons">play_arrow</i>
  </a>
  <div id="lt-video-materializecss" class="modal">
    <div class="modal-content">
      <div class="video-container">
        <iframe src="https://www.youtube.com/embed?v=B_7YRqQf22U" frameborder="0"></iframe>
      </div>
    </div>
  </div>