[ghItem octobercmsArtisanHelpers]
user = "tschallacka"
repo = "octobercms-artisan-helpers"

[ghItem wordpressComposerPluginBuilder]
user = "tschallacka"
repo = "wordpress-composer-plugin-builder"

[ghItem octoberFoundation]
user = "tschallacka"
repo = "october-foundation"

[ghItem jqueryTemplateSupport]
user = "tschallacka"
repo = "jquery-template-support"

[ghItem phpGameRandom]
user = "tschallacka"
repo = "php-game-random"
==
{% component 'ghItem' %}<header class="lt-row row">
    <div class="col s4">
        <div class="">
            <i class="fa fa-map-marker"></i> Kleve, Germany
        </div>
        
        <div class="">
            <i class="fa fa-github"></i> github.com/<a class="anonymizable" href="https://github.com/tschallacka" rel="me" target="_blank">tschallacka</a>
        </div>
        
        <div class="">
            <i class="fa fa-stack-overflow"></i> stackoverflow.com/<a href="https://stackoverflow.com/users/1356107/tschallacka">users/1356107/tschallacka</a>
        </div>
        <div class="">
            <i class="fa fa-link"></i> <a href="https://www.tschallacka.de">tschallacka.de</a>
        </div>
    </div>
    <div class="col s8">
        <div class="row">
            <div class="col s1">
                <div class="icon-circle-32 orange">
                    <strong class="normal">
                        P
                    </strong>
                </div>
            </div>
            <div class="col s11">
                <strong>
                    Passively Interested
                </strong>
                <p>
                    Tschallacka is open to hearing about full-time, contract positions, but not actively looking.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s1">
                <div class="icon-circle-32 orange">
                    <i class="fa fa-wifi"></i>
                </div>
            </div>
            <div class="col s11">
                <strong>
                    Open to remote work
                </strong>
                <p>
                    Tschallacka is open to remote work opportunities.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col s1">
                <div class="icon-circle-32 orange">
                    <i class="fa fa-truck"></i>
                </div>
            </div>
            <div class="col s11">
                <strong>
                   Open to relocation
                </strong>
                <p>
                   Tschallacka is open to relocating to 
                    <span class="fc-black-700">Moers, Germany</span>;
                    <span class="fc-black-700">Duisburg, Germany</span>;
                    <span class="fc-black-700">Essen, Germany</span>;
                    <span class="fc-black-700">Venlo, Nederland</span>;
                    <span class="fc-black-700">Oberhausen, Germany</span>;
                    <span class="fc-black-700">Krefeld, Germany</span>;
                    <span class="fc-black-700">Mülheim an der Ruhr, Germany</span>;
                    <span class="fc-black-700">Düsseldorf, Germany</span>;
                </p>
            </div>
        </div> 
    </div>
</header>
<section class="cv">
    <header class="sub-title-divider">
        <h2>Technologies</h2>
    </header>
    <article>
        <header>
            <strong>
                Preferred technologies
            </strong>
        </header>
        <div class="tagslist">
            <div class="post-tag">octobercms</div>
            <div class="post-tag">laravel</div>
            <div class="post-tag">magento</div>
            <div class="post-tag">php</div>
            <div class="post-tag">java</div>
            <div class="post-tag">mysql</div>
            <div class="post-tag">git</div>
            <div class="post-tag">javascript</div>
            <div class="post-tag">css</div>
            <div class="post-tag">jquery</div>
            <div class="post-tag">html</div>
            <div class="post-tag">apache</div>
            <div class="post-tag">linux</div>
            <div class="post-tag">memcached</div>
            <div class="post-tag">opcache</div>
            <div class="post-tag">sqlite</div>
            <div class="post-tag">sql-server</div>
            <div class="post-tag">mariadb</div>
            <div class="post-tag">composer-php</div>
            <div class="post-tag">phpunit</div>
            <div class="post-tag">nginx</div>
        </div>
    </article>

    <article>
        <header>
            <strong>
                Top Percentiles on Stack Overflow
            </strong>
        </header>
        <div class="percentile">
            {% partial "elements/stackoverflow-icon" %}
            <strong>
                Top 1%
            </strong>
        
            <div class="tagslist">
                <span class="post-tag">php</span>
            </div>
        </div>

        <div class="percentile">
            
            {% partial "elements/stackoverflow-icon" %}
            <strong>
                Top 5%
            </strong>
            
            <div class="tagslist">
                <span class="post-tag">css</span>
                <span class="post-tag">html</span>
                <span class="post-tag">java</span>
                <span class="post-tag">javascript</span>
                <span class="post-tag">jquery</span>
                <span class="post-tag">laravel-5</span>
                <span class="post-tag">mysql</span>
                <span class="post-tag">sql</span>
                <span class="post-tag">laravel</span>
                <span class="post-tag">multidimensional-array</span>
            </div>
        </div>
        <div class="percentile">
            {% partial "elements/stackoverflow-icon" %}
            <strong>
                Top 10%
            </strong>
            <div class="tagslist">
                <span class="post-tag">css3</span>
                <span class="post-tag">json</span>
            </div>
        </div>

    </article>
</section>

<section class="cv">
    <header class="sub-title-divider">
        <h2>Intro Statement</h2>
    </header>
    <article>
        <p>
            I grew up with a fascination for computers and received a free hand in all the operating systems in my youth. From Amiga OS, to the various iterations of windows, to SUSE Linux, I was allowed to do whatever I pleased with the computers I sat behind on the condition that if I break it, I'd fix it.
            This has eventually lead me onto an autodidactic path, with coding in various languages for whatever project I fancied. It was always my view a hobby and not a career opportunity until the last few years when I had discovered that the skills I had so far only assumed to be at hobby level were comparable to business level.
        </p>
        <p>
            I love tackling challenges, figuring out how to couple one thing to another. Learning new ways and mastering new technologies to achieve the goal I wish to reach.
            I enjoy helping others and sharing knowledge freely, but not at the cost of tedious repetition. I enjoy learning and to better myself with the knowledge imparted by others.
        </p>
        <p>
            I have no formal education in programming or computer science, but I have years of experience, and I'm looking forward to a new challenge in order to better myself in what I have a passion for.
        </p>
    </article>
</section>



<section class="cv">
    <header class="sub-title-divider">
        <h2>
            Experience            
        </h2>
    </header>
    <article class="row">
        <div class="col s1">
            <div class="g-center cv-logo">
                <img src="{{ 'assets/img/pages/curriculum-vitae/exit-reizen.png'|theme }}" 
                     class="cv-image js-list-img responsive-img" 
                     title="Exit Reizen B.V.">
            </div>
        </div>

        <div class="col s11  work-container">
            <h3>
                Full Stack Developer
            </h3>
            <h4 class="">
                <a href="https://stackoverflow.com/users/story/lists/396137/exit-reizen-b-v?storyType=1" 
                    title="Exit Reizen B.V." 
                    target="_blank">
                    Exit Reizen B.V.
                </a>
            </h4>

            <div>
                <span>
                    Apr 2015 → Current
                </span>
                <span>
                    (4 years)
                </span>
            </div>

                     
            <div class="timeline-item-tags">
                <span class="post-tag">php</span>
                <span class="post-tag">mysql</span>
                <span class="post-tag">sql-server</span>
                <span class="post-tag">html5</span>
                <span class="post-tag">octobercms</span>
                <span class="post-tag">javascript</span>
                <span class="post-tag">css3</span>
                <span class="post-tag">jquery</span>
                <span class="post-tag">jquery-plugins</span>
                <span class="post-tag">html</span>
                <span class="post-tag">css</span>
                <span class="post-tag">apache</span>
                <span class="post-tag">iis</span>
                <span class="post-tag">wordpress</span>
                <span class="post-tag">wordpress-theming</span>
                <span class="post-tag">linux</span>
                <span class="post-tag">git</span>
                <span class="post-tag">github</span>
                <span class="post-tag">git-bash</span>
                <span class="post-tag">bash</span>
                <span class="post-tag">lets-encrypt</span>
                <span class="post-tag">eclipse</span>
                <span class="post-tag">phpstorm</span>
                <span class="post-tag">metro-ui-css</span>
                <span class="post-tag">seo</span>
                <span class="post-tag">google-analytics</span>
                <span class="post-tag">java</span>
                <span class="post-tag">soap</span>
                <span class="post-tag">excel</span>
                <span class="post-tag">outlook</span>
                <span class="post-tag">html-email</span>
            </div>


            <div class="summary">
                <p>
                    In this role, my responsibilities were the development of, and currently are, the maintenance and expansion of the various systems that support the back office and the front-facing website.
                </p>

                <p>
                    For the sales support application, I designed, developed and implemented a system backed by OctoberCMS to perform the following tasks:
                </p>

                <ul>
                    <li>Online buckaroo payment link preparation and administration</li>
                    <li>Custom hotel price calculator for custom contract hotels with various rules and quirks </li>
                    <li>Rental car price calculation app</li>
                    <li>Customer Relations Management system </li>
                    <li>Price Quotes requests management system</li>
                    <li>Payment and travel documents management system</li>
                    <li>Custom responsive newsletter sending application with an activity tracker</li>
                    <li>Images license management system</li>
                    <li>Complete website CMS that is compatible and integrated with already existing website solutions</li>
                    <li>Sales history system with integration in other systems</li>
                    <li>Geography management system</li>
                    <li>Google maps route development system with google routes &gt; 8 stops</li>
                    <li>Various statistical insight applications</li>
                    <li>Various live editing systems</li>
                    <li>Various supportive custom form elements</li>
                </ul>

                <p>
                    For the consumer-facing websites, there were various systems already in place that didn't suit the complete needs of the company. I was called to develop from scratch newer applications without loss of the data of the already existing applications. I developed a framework to be able to fall back through the various levels of the applications to display the relevant data during the transition period to the new system. These are various tasks I completed in this process.
                </p>

                <ul>
                    <li>A new render system backed by OctoberCMS </li>
                    <li>Caching system for quick rendering for google page speed</li>
                    <li>Fallback templating system</li>
                    <li>Image srcset support system with automatic resizing</li>
                    <li>Image license display system</li>
                    <li>Complete Javascript and CSS support framework except for the standard libraries</li>
                    <li>Responsive display implementation</li>
                    <li>Cookie law implementation</li>
                    <li>Referral tracking system</li>
                    <li>Heatmap system</li>
                    <li>Responsive on-site advertisements</li>
                    <li>Interactive region map based on SVG with multiple application options</li>
                    <li>Tourtrips packages display system</li>
                    <li>Price quote request system</li>
                    <li>Hotel display system</li>
                    <li>Translations management system</li>
                </ul>

            </div>
        </div>
    </article>
    
    <article class="row">
        <div class="col s1">
            <div class="g-center cv-logo">
                <img src="{{ 'assets/img/pages/curriculum-vitae/ortho.png'|theme }}" 
                        class="cv-image js-list-img responsive-img" 
                        title="Ortho Communications en Science B.V.">
            </div>
        </div>
        <div class="col s11  work-container">
            <h3>
                Full Stack Developer
            </h3>
            <h4>
                <a href="https://stackoverflow.com/users/story/lists/396139/ortho-communications-en-science-b-v?storyType=1" 
                    title="Ortho Communications en Science B.V." 
                    target="_blank">
                    Ortho Communications en Science B.V.
                </a>
            </h4>

            <div>
                <span>
                    Mar 2012 → Mar 2015
                </span>
                <span>
                    (3 years, 1 month)
                </span>
            </div>

                      
                            
            <div class="timeline-item-tags">
                <span class="post-tag">php</span>
                <span class="post-tag">magento</span>
                <span class="post-tag">javascript</span>
                <span class="post-tag">html</span>
                <span class="post-tag">html5</span>
                <span class="post-tag">css</span>
                <span class="post-tag">css3</span>
                <span class="post-tag">svn</span>
                <span class="post-tag">visio</span>
                <span class="post-tag">vba</span>
                <span class="post-tag">access-vba</span>
                <span class="post-tag">access</span>
                <span class="post-tag">sql-server</span>
                <span class="post-tag">mysql</span>
                <span class="post-tag">phpmyadmin</span>
                <span class="post-tag">codeigniter</span>
                <span class="post-tag">wordpress</span>
                <span class="post-tag">apache</span>
            </div>

                       

            <div class="summary">
                <p>
                    I began here to fix a project that an ex-intern had started but that showed various bugs. 
                    This was the main website of the company where they would run sales on. 
                    The backend management needed repairing and the front-end was also in need of repairs to become fully functional. 
                    During my time with this company, I was also performing development tasks for a partner company.
                </p>

                <p>
                    The tasks I fulfilled were challenging at times but very rewarding at other times, 
                    what follows is a summary of the most important tasks I fulfilled:
                </p>

                <ul>
                    <li>Repair and improve existing websites</li>
                    <li>Extend and improve a webshop management system</li>
                    <li>Design a newsletter management system that would automatically compile newsletters based on scientific abstracts</li>
                    <li>Design an online payment module for the webshop</li>
                    <li>Lead website upgrade traject from custom webshop to Magento by a third party</li>
                    <li>Explore and implement new cookie law terms</li>
                    <li>Develop Magento templates for foreign language sites</li>
                    <li>Develop custom Magento plugins</li>
                </ul>

                <p>
                    My responsibilities also extended to some back office support and application development
                </p>

                <ul>
                    <li>Exact Globe update preparation and execution</li>
                    <li>Custom CRM application in MS Access maintenance</li>
                    <li>Development of a communications system between Exact and Parcelware</li>
                    <li>Development of a communications system between Magento and Parcelware</li>
                    <li>Development of a communications system between Magento and Exact</li>
                    <li>Development of a custom Firefox extension</li>
                    <li>Training and support of programming interns</li>
                </ul>
            </div>
        </div>
    </article>
        
    <article class="row">
        <div class="col s1"> 
            <div class="cv-logo">
                <img src="{{ 'assets/img/pages/curriculum-vitae/ddd.png'|theme }}" 
                     class="cv-image js-list-img responsive-img" 
                     title="Dibbets Digitale Diensten">
            </div>
        </div>

        <div class="col s11 work-container">
            <h3>
               Company Owner
            </h3>
            <h4>
                <a href="https://stackoverflow.com/users/story/lists/396177/dibbets-digitale-diensten?storyType=1" 
                   title="Dibbets Digitale Diensten" 
                   target="_blank">
                   Dibbets Digitale Diensten
               </a>
            </h4>

            <div>
                <span>Feb 2010 → Jan 2014</span>
                <span>(4 years)</span>
            </div>
    
            <div class="timeline-item-tags">
                <span class="post-tag">java</span>
                <span class="post-tag">php</span>
                <span class="post-tag">javascript</span>
                <span class="post-tag">velocity</span>
                <span class="post-tag">wordpress</span>
                <span class="post-tag">magento</span>
                <span class="post-tag">codeigniter</span>
                <span class="post-tag">css</span>
                <span class="post-tag">html</span>
                <span class="post-tag">linux</span>
                <span class="post-tag">mysql</span>
            </div>
            <div class="summary">
                <p>
                    After I had moved across the country and left behind a job in a computer repair center I started my own company, 
                    where I sold computer hardware and performed repairs for consumers, and website building and maintenance for several businesses.
                </p>

                <p>
                    One of the more challenging projects I undertook was the website for PIM online. 
                    An old website had to be upgraded with a new template with a theme designed by an external design bureau. 
                    This all had to be coded in a custom port of velocity with barely any coherent documentation. 
                    By extensively studying the existing code base I was able to implement the template 
                    with a functioning website as per commission.
                </p>

                <p>
                    When the financial crisis hit money got really tight due to the lacking of 
                    commissions to fulfill in my area. My strong point isn't sales but coding, 
                    and to be able to support my family, I halted my business 
                    and went into the job circuit to have a stable income.
                </p>

                <p>
                    It was through my own company I discovered my own potential 
                    as a coder in the job circuit and was able to get the first 
                    real measure of my capabilities compared to others.
                </p>

            </div>
        </div>
    </article>

    <article class="row">
        <div class="col s1"> 
            <div class="cv-logo">
                <img src="{{ 'assets/img/pages/curriculum-vitae/service-planet.png'|theme }}" 
                     class="cv-image js-list-img responsive-img" 
                     title="Service Planet Rotterdam B.V.">
            </div>
        </div>

        <div class="col s11 work-container">
            <h3>
               Junior Inhouse Engineer
            </h3>
            <h4>
                <a href="https://serviceplanet.nl" 
                   title="Service Planet Rotterdam B.V." 
                   target="_blank">
                   Service Planet Rotterdam B.V.
               </a>
            </h4>

            <div>
                <span>Jan 2006 → Dec 2009</span>
                <span>(4 years)</span>
            </div>
    
            <div class="timeline-item-tags">
                <span class="post-tag">windows</span>
                <span class="post-tag">linux</span>
                <span class="post-tag">system-diagnostics</span>
            </div>
            <div class="summary">
                <p>
                    In this function, I was responsible for diagnosing and repairing various consumer electronics that were sent in by large store chains like Dixons, Scheer & Foppen and others to be repaired under warranty or extended warranty.
                <p>
                <p>
                    My daily tasks included:
                    <ul>
                        <li>Diagnosing hardware and software problems in notebooks and desktops</li>
                        <li>Repair software errors</li>
                        <li>Repair hardware problems in notebooks and desktops</li>
                        <li>Telephonic support for average PC users</li>
                        <li>Telephonic support and troubleshoot for wireless network products</li>
                     </ul>           
                 </p>

            </div>
        </div>
    </article>
    <article class="row">
        <div class="col s1"> 
            <div class="cv-logo">
                <img src="{{ 'assets/img/pages/curriculum-vitae/handyman.png'|theme }}" 
                     class="cv-image js-list-img responsive-img" 
                     title="Various short term jobs">
            </div>
        </div>

        <div class="col s11 work-container">
            <h3>
               Various Short term jobs
            </h3>
            <h4>
                <a href="https://serviceplanet.nl" 
                   title="Service Planet Rotterdam B.V." 
                   target="_blank">
                   Various Job agencies
               </a>
            </h4>

            <div>
                <span>Jul 2003 → Dec 2005</span>
            </div>
    
            
            <div class="summary">
                <p>
                   When I finished school I spent a lot of time between several short contract jobs and in Australia<BR/>
                   Because these jobs are unrelated to my current profession I will suffice by providing this short summary.
                <p>
                <p>
                    A small summary of the various jobs
                    <ul>
                        <li>System Ceiling Installer</li>
                        <li>Bookkeeping</li>
                        <li>Re-packaging</li>
                        <li>Replacing Supermarket Manager</li>
                        <li>Driver's Mate</li>
                        <li>Night Watch man</li>
                        <li>Asbestos removal</li>
                        <li>Street fundraiser</li>
                        <li>Re-stocker</li>
                        <li>Painter</li>
                        <li>Paper cutter</li>
                     </ul>           
                 </p>

            </div>
        </div>
    </article>

</section>

<section class="cv" id="cv-education">
    <header class="sub-title-divider">
        <h2>
            Education            
        </h2>
    </header>
    <article class="row">
        <div class="col s1">
            <div class="g-center cv-logo">
                <img src="{{ 'assets/img/pages/curriculum-vitae/graafschap-college.png'|theme }}" 
                    class="cv-image js-list-img responsive-img" 
                    title="Graafschap College Doetinchem">
            </div>
        </div>

        <div class="col s11 education-container">
            <h3>
                <a href="https://graafschapcollege.nl/profielen/bedrijfsadministrateur/" target="graafschapcollege">Bedrijfsadministratie Niveau 4 (MBO sector economie)</a>
            </h3>
            <h4>
                <a href="https://graafschapcollege.nl"  target="graafschapcollege">Graafschap College, Doetinchem</a>
            </h4>

            <div>
                <span>
                    Aug 1999 → Jun 2003
                </span>
            </div>
                            
            <div class="timeline-item-tags">
                <span class="post-tag">excel-vba</span>
                <span class="post-tag">word-vba</span>
                <span class="post-tag">access-vba</span>
                <span class="post-tag">vba</span>
                <span class="post-tag">html</span>
                <span class="post-tag">javascript</span>
            </div>
            
            <div class="summary">
                <p>
                    This is where I discovered the magic of programming in VBA for access 
                    and Excel and coding my first few hobby sites, even though 
                    my education was in Business Administration but the resources 
                    offered gave me the chance to expand my skills further even 
                    though I never considered pursuing a career at that 
                    time because I only saw coding as a hobby.
                </p>
            </div>
        </div>
    </article>
    
    <article class="row">
        <div class="col s1">
            <div class="g-center cv-logo">
                <img src="{{ 'assets/img/pages/curriculum-vitae/schaersvoorde.jpg'|theme }}" 
                    class="cv-image js-list-img responsive-img" 
                    title="Christelijk College Schaersvoorde">
            </div>
        </div>

        <div class="col s11 education-container">
            <h3>
                Middelbaar algemeen voortgezet onderwijs (MAVO)
            </h3>
            <h4>
                <a href="https://www.schaersvoorde.nl/">Christelijk College Schaersvoorde, Aalten</a>
            </h4>

            <div>
                <span>
                    Aug 1996 → Jun 1999
                </span>
            </div>
        </div>
    </article>
</section>


<section id="cv-Certifications" class="cv">
    <header class="sub-title-divider">
        <h2>
            Certifications            
        </h2>
    </header>
    <article class="row">

        <div class="col s1">
            <div class="g-center cv-logo">
                <img src="{{ 'assets/img/pages/curriculum-vitae/comptiaaplus.png'|theme }}"
                     class="cv-image js-list-img responsive-img">
            </div>
        </div>

        <div class="col s11 education-container">
            <h3>
                <a href="https://certification.comptia.org/certifications/a" title="Comptia A+" target="_blank">Comptia A+ Depot Technician</a>
            </h3>
            <h4>
                New Horizons, Rotterdam
            </h4>
            <div>
                <span>Jan 2010 → May 2010</span>
                <span>(5 months)</span>
            </div>
        </div>
    </article>
    
    <article class="row">
        <div class="col s1 ">
            <div class="g-center cv-logo">
                <img src="{{ 'assets/img/pages/curriculum-vitae/sait.institute.learning.logo.au.jpg'|theme }}"
                     class="cv-image js-list-img responsive-img">
            </div>
        </div>

        <div class="col s11 education-container">
            <h3>
                <a href="https://training.scouts.com.au/Qualifications/Dip-LM" title="Leadership and Management" target="_blank">Leadership and Management</a>
            </h3>
            <h4>
               Scouts Australia Institute of Training, Chatswood 
            </h4>
            <div>
                <span>2004</span>
                <p>
                    I followed this study as part of attaining the gillwell woggle to be a leader for the local Scouting group.
                    This was the first year where Scouting Australia was certified as a educational organisation, adding value to their inhouse training.
                    I passed the training at all required elements, verified by an accessor.<BR/> 
                    I however, never received the diploma and certifications. After many inqueries and being stonewalled with changing excuses, it came out that
                    the reason why they stonewalled me was, because I completed the study in Australia with a travel and work visum, and not a student visum, putting
                    Scouting Australia in a very difficult position if they were to award me the papers, possibly losing their training certification.<BR/>
                    I decided to let it rest at that, I do have a document from the local scout leader at the time attesting to the fact that I have passed
                    all requirements for these certifications verified by an official certified accessor, and can happily put you in contact with her on request.
                </p>
            </div>
        </div>
    </article>
        <article class="row">

        <div class="col s1">
            <div class="g-center cv-logo">
                  <img src="{{ 'assets/img/pages/curriculum-vitae/sait.institute.learning.logo.au.jpg'|theme }}"
                     class="cv-image js-list-img responsive-img">
            </div>
        </div>

        <div class="col s11 education-container">
            <h3>
                <a href="https://training.scouts.com.au/Qualifications/CII-BUS" title="Business" target="_blank">Business II</a>
            </h3>
            <h4>
               Scouts Australia Institute of Training, Chatswood 
            </h4>
            <div>
                <span>2004</span>
                <p>
                    I followed this study as part of attaining the gillwell woggle to be a leader for the local Scouting group.
                    This was the first year where Scouting Australia was certified as a educational organisation, adding value to their inhouse training.
                    I passed the training at all required elements, verified by an accessor.<BR/> 
                    I however, never received the diploma and certifications. After many inqueries and being stonewalled with changing excuses, it came out that
                    the reason why they stonewalled me was, because  I completed the study in  Australia with a travel and work visum, and not a student visum, putting
                    Scouting Australia in a very difficult position if they were to award me the papers, possibly losing their training certification.<BR/>
                    I decided to let it rest at that, I do have a document from the local scout leader at the time attesting to the fact that I have passed
                    all requirements for these certifications verified by an official certified accessor, and can happily put you in contact with her on request.
                </p>
            </div>
        </div>
</section>



<section class="cv" id="cv-Open Source">
    <header class="sub-title-divider">
        <h2>
            Open Source            
        </h2>
    </header>

    <article class="row">
        <div class="col s12">
            {% component 'octobercmsArtisanHelpers' %}
        </div>
    </article>
    <article class="row">
        <div class="col s12">
            {% component 'wordpressComposerPluginBuilder' %}
        </div>
    </article>
    <article class="row">
        <div class="col s12">
            {% component 'octoberFoundation' %}
        </div>
    </article>
    <article class="row">
        <div class="col s12">
            {% component 'jqueryTemplateSupport' %}
        </div>
    </article>
    <article class="row">
        <div class="col s12">
            {% component 'phpGameRandom' %}
        </div>
    </article>
                
</section>